html {
  width: 100%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-width: 600px;
    max-width: 900px;
    width: 75%;
    margin: auto;
  }
  .content{
    margin: 2em;
  }

  h1 {
    margin:2em 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
  /*  text-transform: uppercase;*/
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-align: justify;
  text-justify: inter-word;
}

.sankey{
  width: 836px;
  height: 1000px;
}
  